*.ps1 text eol=crlf
*.cs text eol=crlf
*.js text eol=lf
*.md text eol=lf
*.vbs text eol=crlf
*.cmd text eol=crlf
*.ico binary
*.exe binary
*.png binary
*.json text eol=lf
*.csproj text eol=lf
*.appxmanifest text eol=lf
*.yml text eol=lf
